.navDiv {
  text-align: start;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: bisque;
}

.heroDiv {
  text-align: center;
  padding: 10rem 0;
  background-color: aliceblue;
}
.heroDiv h1 {
  font-size: 4rem;
  padding: 1rem 0;
}

.aboutmeDiv {
  text-align: center;
  padding: 5rem 0;
  background-color: antiquewhite;
}
.aboutmeDiv p {
  text-align: start;
  padding: 1.6rem;
}

.skillsDiv {
  text-align: center;
  padding: 4rem;
  background-color: aliceblue;
}
.skillsDiv h2 {
  text-decoration: underline;
  margin: 2rem 0;
}
.skillsDiv ul {
  list-style: none;
  padding: 0rem;
}
.skillsDiv ul li {
  margin: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 15px;
}

.projectsDiv {
  text-align: center;
  padding: 6rem 0;
  background-color: antiquewhite;
}
.projectsDiv ul {
  list-style: none;
}
.projectsDiv ul li {
  margin: 1rem;
  padding: 1rem;
  text-align: start;
}
